@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "layout.cshtml"; // veya Layout = "_Layout.cshtml"; ikisi de olur
}
<h1>@Model.Value("title")</h1>

@if (!string.IsNullOrWhiteSpace(Model.Value("description")?.ToString()))
{
    <div>
        @Model.Value("description")
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.Value("phone")?.ToString()))
{
    <p><strong>Telefon:</strong> @Model.Value("phone")</p>
}
@if (!string.IsNullOrWhiteSpace(Model.Value("email")?.ToString()))
{
    <p><strong>E-posta:</strong> @Model.Value("email")</p>
}
@if (!string.IsNullOrWhiteSpace(Model.Value("address")?.ToString()))
{
    <p><strong>Adres:</strong> @Model.Value("address")</p>
}